@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	padding: 0;
	margin: 0;
	font-family: 'Rubik', sans-serif;
	//overflow-y: overlay;
	@apply bg-slate-200 relative #{!important};
}

a {
	color: inherit;
	text-decoration: none;
	cursor: pointer;
	@apply text-neutral-700 hover:text-neutral-900 duration-200;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	@apply block font-medium text-gray-800 mb-2;
}

h4 {
	@apply text-3xl;
}

* {
	box-sizing: border-box;
}

.nextui-button-text {
	z-index: 1 !important;
}